/* Styles de base - Body, HTML, Reset */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg-light);
    color: var(--text-light);
    padding: 2rem;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

html.dark body {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}
