/* Cartes MTG et grilles */

#sets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
    gap: 1.5rem;
    max-width: 62.5rem;
    margin: 0 auto;
}

/* Cards container */
#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr));
    gap: 1.5rem;
    max-width: 68.75rem;
    margin: 2rem auto;
    padding: 0 1rem;
}

.card {
    background: var(--card-bg-light);
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.75rem var(--shadow-light);
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.75rem 1.5rem rgba(255, 255, 255, 0.3);
}

body.dark .card {
    background: var(--card-bg-dark);
    box-shadow: 0 0.25rem 0.9375rem var(--shadow-dark);
}

body.dark .card:hover {
    box-shadow: 0 0.75rem 1.5rem rgba(255, 255, 255, 0.3);
}

.card img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-bottom: 0.0625rem solid #6161613b;
    transition: filter 0.3s ease;
}

.card:hover img {
    filter: brightness(1.05);
    transform: scale(1.05);
    transition: transform 0.3s ease, filter 0.3s ease;
}

body.dark .card img {
    border-color: #333;
}

/* Card Info */
.card-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* top right buttom left*/
    padding: 0rem 0.2rem 0rem 0.2rem;
    background: rgba(255, 255, 255, 0.76);
    color: #000000;
    box-sizing: border-box;
}

/* Dark mode ajustement (si besoin) */
body.dark .card-info {
    background: rgba(116, 116, 116, 0.566);
    color: #ffffff;
}

.card-number {
    font-weight: bold;
    font-size: 0.85rem;
    opacity: 0.9;
    display: inline-flex;
    gap: 0.375rem;
}

.card-images {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    /* aligne verticalement au centre */
    padding-left: 0;
    /* espace à gauche */
    justify-content: flex-start;
    width: 1.25rem;
    /* largeur fixe */
    height: 1.25rem;
    /* hauteur fixe */
    object-fit: contain;
    /* conserve le ratio sans couper */
    overflow: visible;
}

/* Ligne d'infos avec icons + numéro alignés */
.card-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.4rem;
}

.icon-card-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.4rem;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0;
    /* top right buttom left*/
    padding: 0.2rem 0.2rem 0rem 0.1rem;
}

/* Small Clickable Elements */
.small-clickable {
    overflow: visible;
    object-fit: contain;
    display: inline-flex;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0.125rem 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.933);
    transition: transform 0.2s ease;
    opacity: 0.6;
    padding: 20%;
    background-color: #ffffffde;
    position: relative;
}

.small-clickable.active {
    opacity: 1;
}

.small-clickable:hover {
    box-shadow: 0 0 0.9375rem 0.25rem var(--card-bg-dark);
}

/* Icon Search */
.icon-search {
    background-color: var(--card-bg-light);
    border: 0.125rem solid var(--text-light);
    opacity: 0.7;
    color: var(--text-light);
    cursor: pointer;
    margin: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    
    border-radius: 50%;
    display: inline-flex;
    overflow: visible;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 0.1rem 0.15rem 0.1rem 0.15rem;
    
}

.icon-search:hover {
    box-shadow: 0 0.75rem 1.5rem rgba(101, 75, 187, 0.3);
    opacity: 1;
}

/* Icon Image */
.icon-img {
    overflow: visible;
    width: 1.125rem;
    height: 1.125rem;
    object-fit: contain;
    display: block;
    margin-top: 0.125rem;
}

/* Foil Effects */
.foil {
    position: relative;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,
            #f3ec78, #af4261, #2b86c5, #f7971e, #f953c6, #b91d73,
            #f7971e, #2b86c5, #784ba0, #ff3cac, #b91d73, #f953c6,
            #ff3cac, #784ba0, #2b86c5, #f7971e, #f953c6, #f7971e, #2b86c5, #784ba0, #ff3cac);
    background-size: 1800% 1800%;
    color: white;
    font-weight: 700;
    border-radius: 40%;
    animation: rainbowFoil 8s ease infinite;
    box-shadow: 0.125rem 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.933);
    display: inline-flex;
    padding: 20%;
}

.foil:hover {
    box-shadow: 0 0 0.9375rem 0.25rem rgba(255, 223, 0, 0.9);
}

body.dark .foil {
    background: linear-gradient(45deg, #f3ec78, #af4261, #ff00ff, #00ffff, #ffff00);
    box-shadow: 0 0 0.5rem 0.125rem rgba(255, 255, 255, 0.8);
    border-radius: 0.25rem;
    display: inline-block;
}

body.dark .foil:hover {
    box-shadow: 0 0 0.9375rem 0.25rem rgba(255, 223, 0, 0.9);
}   

body.dark .small-clickable:hover {
    box-shadow: 0 0 0.9375rem 0.25rem var(--card-bg-dark);
}

@keyframes rainbowFoil {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
