/* Composants réutilisables - Icônes, boutons */

/* Style général pour toutes les icônes */
.icon-moon {
    background: transparent;
    border: 0.125rem solid var(--text-light);
    color: var(--text-light);
    font-size: 1.5rem;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}

.icon-moon:hover {
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.0625rem);
}

.icon-moon i {
    font-size: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Thème sombre pour les icônes */
body.dark .icon-moon {
    border-color: var(--accent-yellow);
    color: var(--accent-yellow);
}

body.dark .icon-moon:hover {
    background: var(--card-bg-light);
    color: var(--text-light);
}

/* Export & Reset Buttons */
.export-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    margin-bottom: 1.5rem;
    transition: background-color 0.3s, color 0.3s;
}

body.dark .icon-export {
    background: #ffdc2f;
    color: #000;
}

body.dark .export-btn {
    color: #4ea1ff;
}

.reset-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.reset-btn span:first-child,
.export-btn span:first-child {
    margin-right: 0.7rem;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    line-height: 1;
}

/* Export Component */
.export {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.dark .export {
    background-color: var(--accent-yellow);
    color: rgb(0, 0, 0);
}

/* Back Button */
.back {
    padding-top: 0.1rem;
    /* ajuste verticalement */
    padding-left: 0.3rem;
    /* ajuste horizontalement */
    position: fixed;
    left: 10%;
}

body.dark .back {
    background-color: var(--accent-yellow);
    color: rgb(0, 0, 0);
}
