/* Barres de progression et éléments de progression */

.progress_container {
    width: 100%;
    margin: 1rem auto;
}

.progress_bar {
    background: #4caf50;
    height: 100%;
    width: 0%;
    transition: width 0.5s;
}

.putin_de_bar {
    background: #ddd;
    border-radius: 0.625rem;
    height: 1.25rem;
    overflow: hidden;
}
