/* Styles des liens des sets MTG */

.set a {
    text-decoration: none;
    color: var(--primary-blue);
    font-weight: 600;
    display: block;
    margin-top: 0.3rem;
    font-size: 1rem;
    transition: color 0.3s;
}

.set a:hover {
    text-decoration: underline;
}

body.dark .set a {
    color: #c4c4c4;
}
