/* Images des sets MTG */

.set img {
    max-width: 3.75rem;
    margin-bottom: 0.5rem;
    background: var(--card-bg-light);
    padding: 0.375rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3125rem rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s;
}

body.dark .set img {
    box-shadow: 0 0 0.5rem rgba(255 255 255, 0.5);
    filter: invert(0.9);
}
