/* Thèmes et modes sombre/clair */

.mouse-button-theme:hover {
    background: #000 !important;
    color: var(--text-dark) !important;
}

body.dark .mouse-button-theme {
    border-color: var(--accent-yellow);
    color: var(--accent-yellow);
}

body.dark .mouse-button-theme:hover {
    background: var(--card-bg-light) !important;
    color: var(--text-light) !important;
}

#dark-toggle {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#dark-toggle.sun {
    color: #000 !important;
}

body.dark #dark-toggle {
    color: #fff;
}

body.dark .toggle-theme:hover {
    background: #ffffff;
    /* exemple pour le mode sombre */
    color: rgb(0, 0, 0);
}
